<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.username">swingy</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDB10Dialect</property>

        <!-- showSplashScreen mysql queries output in console -->
        <property name="hibernate.show_sql">false</property>
        <property name="logger.org.hibernate">false</property>

        <!-- manage automatic database creation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- add resources here -->
        <!-- <mapping class="za.co.wethinkcode.sletlape.swingy.model.mapElements.Arena"></mapping> -->
        <!-- <mapping class="za.co.wethinkcode.sletlape.swingy.model.LivingElements.LiveEntity"></mapping> -->
        <mapping class="za.co.wethinkcode.sletlape.swingy.model.LivingElements.Hero"></mapping>
        <!-- <mapping class="za.co.wethinkcode.sletlape.swingy.model.mapElements.WorldMap"></mapping> -->


    </session-factory>
</hibernate-configuration>